# CAP VSVapp
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

#Environment
default-env.json

# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env
# auto generated wildcard
WMapp-CAP/gen/db/.env

.env